/*
css for hf5-adrienchkirate.xlim.fr
Author: Adrien Chkirate
http://www.adrienchkirate.com
*/

/* Font */

@font-face {
  font-family: "foundation-icons";
  src: url("foundation-icons/foundation-icons.eot");
  src: url("foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("foundation-icons/foundation-icons.woff") format("woff"),
       url("foundation-icons/foundation-icons.ttf") format("truetype"),
       url("foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* general */

ul li
{
	margin-bottom: 15px;
}
h5, h4
{
	color: #ecf0f1;
}
input
{
	color: #ecf0f1;
	border-radius: 2px;
	border: 0;
    background-color: #7f8c8d;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 1px 2px;
    outline: none;
    webkit-appearance: none;
    outline: none;
    webkit-appearance: none;
}
label
{
	cursor: pointer;
}
button
{
	border: none;
  outline: none;
	background: none;
}

/* Checkbox */

.checkbox input[type="checkbox"]
{
  display: none;
}
.checkbox .check
{
  width: 15px;
  display: inline-block;
  height: 15px;
  background: #7F8C8D;
  border-radius: 2px;
  position: relative;
  bottom: 2px;
  vertical-align: middle;
  margin-right: 5px;
}
.checkbox input + .check:after
{
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  content: "\f126";
  display: block;
  width: 15px; height: 15px;
  text-align: center;
  color:  #ecf0f1;
}
.checkbox input:checked + .check
{
  vertical-align: middle;
}
.checkbox input:checked + .check:after
{
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  content: "\f126";
  display: block;
  width: 15px; height: 15px;
  text-align: center;
  color: #1abc9c;
}

/* leftbox */

.leftbox
{
	height: 100%;
	padding: 15px;
	webkit-font-smoothing: subpixel-antialiased;
  background-color: #34495e;
  color: #1abc9c;
  height: 100vh;
  max-height: 100vh;
}
.submit-button
{
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
	padding: 10px;
	background-color: #1abc9c;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  background-image: -webkit-linear-gradient(#1abc9c, #16a085);
  background-image: linear-gradient(#1abc9c, #16a085);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}
.textarea-points
{
  overflow: none;
  color: #ecf0f1;
  border: 0;
  max-height: 100%;
  max-width: 100%;
  border-radius: none;
  background-color: #7f8c8d;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 1px 2px;
  padding: 5px;
}
.scroll-box
{
	height: 75vh;
	max-height: 100vh;
	overflow: scroll;
}
.curvesum
{
	text-align: center;
	margin-top: 20px;
}

.curve-title-input
{
	width: 100px;
}
.curve-parameter-input
{
	width: 43px;
}
.credits
{
	color: #ecf0f1;
	font-size: 0.9em;
	position: fixed;
	bottom: 0;
}

/* Modal Box */

.add-curve-box
{
  padding: 10px;
  webkit-font-smoothing: subpixel-antialiased;
  background-color: #34495e;
  color: #1abc9c;
  border-radius: 3px;
  text-align: center; 
}
.curve-title-input-modal
{
  font-size: 1.1em;
  padding: 5px;
  width: 203px;
  margin-bottom: 15px;
}
.curve-parameter-input-modal
{
  font-size: 1.1em;
  padding: 5px;
  width: 99px;
}

/* Graphic Box */

#container
{
  height: 65vh;
  margin: 10px;
}
.graphicbox
{
  padding: 0;
  height: 100vh;
  webkit-font-smoothing: subpixel-antialiased;
  background-color: #34495e;
  color: #1abc9c;
  border-left: 1px #71797a solid; 
}

/* Stats Box */

.statsbox
{
  font-size: 1.1em;
  padding: 10px;
  width: 100%;
  border-top: 1px #71797a solid; 
}
.statsbox p
{
  padding: 5px;
  padding-left: 10px;
}
.statsbox .row
{
  margin: 0;
  margin-bottom: 25px;
}
.download-text
{
  text-align: center;
}

